/* import webfonts */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,700italic,400italic);

/* import fontawesome */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: "Lato", sans-serif;
	background-color: #e0e0e0;
	padding-bottom: 60px;
}

/* basic styles and etc */
h1,h2,h3,h4,h5,h6,p { margin-top: 6px; margin-bottom: 6px; }

.page-content > h1,h2,h3,h4,h5,h6, .form-group {font-weight: 700; font-family: "Lato", sans-serif;}

.center {text-align:center;}
.right {text-align:right;}
.float-right { float:right;}
.hidden, #thankYou { display: none;}

/*.page-content a:hover {color: #fff;}*/


/* navbar styling */
.topnav {
	font-size: 15px;
	font-weight: 700;
}

.navbar-brand {
	text-transform: uppercase;
}

.navbar-inverse {
	border-bottom: 0px;
}


/* content area styling */
.content-container {
	margin-top: 55px;
}

.page-title, .page-description {
	color: #9d9d9d;
	font-weight: bold;
	margin-bottom: 10px;
}

.page-content {
	background-color: #d2d2d2;
	color: #333; /* color: #000; */
	padding: 8px;
	border-radius: 5px;
	font-family: 'Roboto Slab', sans-serif;
}


/* Override bootstrap elements */
.well, .panel-body {
	background-color: #d2d2d2;
}

.panel-heading, .panel-title {
	background-color: #222222 !important;
	color: #9d9d9d;
}

/* stop textarea from being resized past content area */
textarea.form-control {max-width: 100%;}

/* Custom homepage stuff */
.pebblecommanderjt {
	background-color: #222222;
	font-family: "Source Code Pro", monospace;
	color: #ffffff;
	border-radius: 0px !important;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: 0px;
}
.pebblecommanderjt .container {
	padding-top: 10px;
	background: url('../pebble.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 180px;
}
.pebblecommanderjt .btn {font-family: "Lato", sans-serif;}
.pebblecommanderjt .page-description {font-size: 1.3em; font-weight: 500;margin-top:-10px;}

.item_box {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #59647a;
	color: #e8e8e8;
	font-size: 1.5em;
}
.item_box h2 {
	font-size: 2.5em;
}
