<!doctype html>
<html>
	<head>
		<title>{% block title %}{% endblock %} &mdash; Commandr</title>
		{% block head %}
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<h1>{% block pageheading %}{% endblock %}</h1>
		{% block content %} {% endblock %}
		<footer class="footer">
			<p>Copyright &copy; 2015 Colin Murphy</p>
		</footer>
		</div>
	</body>
</html>
