{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block pageheading %} Commandr Backend {% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-8">
		<p>This is meant to be controlled with a Pebble&reg; smartwatch, however this web-based user interface allows you to view your commands and run them from your browser.</p>
		<p><a href="/list_commands">List commands</a></p>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">Settings</h3></div>
			<div class="panel-body">
				{{ settings }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
